.image_preview__container{
    --background-color: transparent;
    width: 100px;
    height: 100px;
    display: flex;
    background-color: var(--background-color);
    overflow: hidden;
    border-radius: 20px;
    transition: all 400ms ease;
}
.image_preview__img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    transition: all 400ms ease;
}
.image_preview__container:hover > .image_preview__img{
    transform: scale(1.15);
}

.image_preview__container:hover{
    cursor: pointer;
    background-color: #e3e3e3;
}
