.login_container {
    margin-bottom: 1rem;
}

.login_action{
    display: flex;
}
.login_action__a {
    margin-right: 41px;
    text-align: center;
    padding-top: 10px;
}
.login_action__button {
    flex: 1
}
