.login_container {
    margin-top: 1rem;
}

.login_action{
    display: flex;
    margin-bottom: 52px;
}
.login_action__a {
    margin-right: 41px;
    display: flex;
    align-items: center;
    flex: 1;
}
.login_action__button {
    flex: 1;
}
