.tender_footer {
    margin-top: 15px;
    display: flex;
}
.tender_footer > div {
    flex: 1;
}
.tender_footer__left, .tender_footer__right, .tender_footer__right_likes{
    display: flex;
    align-items: center;
}

.tender_footer__left > .MuiAvatar-root {
    margin-right: 15px;
    margin-left: 15px;
}

.tender_footer__right{
    justify-content: space-evenly;
}

.idea_author{
    font-weight: 500;
}
