.aboutme__container{
    display: flex;
}
.upload_photo{
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    opacity: 0.3;
    pointer-events: none;
    z-index: 3;
    transition: all 300ms ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme__avatar_container:hover > .upload_photo {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;

}
.aboutme__avatar_container{
    width: 260px;
    height: 260px;

    border-radius: 20px;
    margin-right: 40px;

    flex-shrink: 0;
    position: relative;
    background-color: hsl(0, 0%, 70%);
}
.aboutme__avatar{
    width: 100%;
    height: 100%;
    border-radius: 20px;

    object-fit: cover;
}

.aboutme__info_inner svg{
    margin-right: 10px;
}

.aboutme__info_inner{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.aboutme__info_inner span{
    font-size: 14px;
    font-weight: 500;
}

/* Appeals */

.myappeals__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px
}
.myappeals__container{
    height: min-content;
}


.aboutme_mobile {
    display: none;
    margin-top: 30px;
    width: 260px;
}
.aboutme_desktop {
    display: inline-flex;
}

.aboutme_grid_first {
    margin-top: 30px!important;
}
.aboutme_grid_second {
    margin-top: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width: 800px){
    .aboutme__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutme__avatar_container {
        margin-right: 0px;
    }

    .aboutme_mobile {
        display: flex;
    }
    .aboutme_desktop {
        display: none;
    }
    .aboutme_grid{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .aboutme_grid_first {
        margin-bottom: 10px
    }
    .aboutme_grid_second {
        margin-bottom: 10px;
    }
    .aboutme_actions{
        display: flex;
        justify-content: center;
    }

}
