.news_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.news_container > .left {
    width: 700px;
}
.news_container > .right {
    width: 450px;
}

@media screen and (max-width: 1500px) {
    .news_container{
        justify-content: space-between;
        gap: 50px;
    }
    .news_container > .left {
        flex: 3;
    }
    .news_container > .right {
        flex: 2;
    }
}

@media screen and (max-width: 800px) {
    .news_container{
        flex-direction: column;
    }
    .news_container > * {

        word-break: break-all;
        justify-content: none;
    }
    .news_container > .right ,
    .news_container > .left {
        flex: 1;
        width: 100%;
        flex-shrink: 0;
    }
    .news_container > .left {
        width: calc(100% - 60px);
    }
}
