.news_container{
    display: flex;
}

.news_container > .left {
    flex: 4;
}
.news_container > .right {
    flex: 3;
}

@media screen and (max-width: 800px) {
    .news_container{
        flex-direction: column;
    }
    .news_container > * {
        word-break: break-all;
    }
}
