.news_container{
    display: flex;

    justify-content: space-evenly;
}

.news_container > .left {
    width: 700px;
}
.news_container > .right {
    width: 450px;
}

@media screen and (max-width: 800px) {
    .news_container{
        flex-direction: column;
    }
    .news_container > * {

        word-break: break-all;
        justify-content: none;
    }
    .news_container > .right {
        flex: 1;
        max-width: none;
    }
    .news_container > .left {
        flex: 1;
        max-width: none;
    }
}
