.tender__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.create_container{
    margin-bottom: 1rem;
}

@media screen and (max-width: 1000px){
    .tender__container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
